---
name: Mixin

permissions:
  contents: read

on:
  # To conserve resources we only run tests against main in PRs
  pull_request:
    branches:
      - main

jobs:
  setup:
    name: Setup tools
    runs-on: ubuntu-latest
    outputs:
      cache-hit: ${{ steps.tools-cache.outputs.cache-hit }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: 1.23
      - name: Tools cache
        id: tools-cache
        uses: actions/cache@v4
        with:
          path: |
            ~/go/bin
          key: ${{ runner.os }}-tools-${{ hashFiles('Makefile') }}
      - name: Install CI dependencies
        if: steps.tools-cache.outputs.cache-hit != 'true'
        run: make install-ci-deps

  lint-mixin:
    name: Test mixin
    needs: setup
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: 1.23
      - name: Restore Tools cache
        uses: actions/cache@v4
        with:
          path: |
            ~/go/bin
          key: ${{ runner.os }}-tools-${{ hashFiles('Makefile') }}
      - name: Install dependencies & build generated files
        working-directory: ./mixin
        run: make all
      - name: Lint jsonnet
        run: make lint-fmt
      - name: Lint mixin
        working-directory: ./mixin
        run: make lint
      - name: Check for unexpected changes in generated files
        working-directory: ./mixin
        run: "make -B dashboards_out prometheus_alerts.yaml && git diff --exit-code || ( echo 'Error: Generated files are not up to date. Run make and commit the local diff'; exit 1; )"
