---
name: Mixin

permissions:
  contents: read

on:
  # To conserve resources we only run tests against main in PRs
  pull_request:
    branches:
      - main

jobs:
  lint-mixin:
    name: Test mixin
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Install dependencies & build generated files
        working-directory: ./mixin
        run: make all
      - name: Lint mixin
        working-directory: ./mixin
        run: make lint
      - name: Check for unexpected changes in generated files
        working-directory: ./mixin
        run: "git diff --exit-code || ( echo 'Error: Generated files are not up to date. Run make and commit the local diff'; exit 1; )"
